<?xml version="1.0" encoding="utf-8"?>
<SiteConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/FloraShop.Core.Configurations">
  <LogException>true</LogException>
  <LogEvent>true</LogEvent>
  <RemoveWhitespaces>true</RemoveWhitespaces>
  <ConfigFile>
    <Log>~/config/log4net.config</Log>
    <Route>~/config/routes.config</Route>
  </ConfigFile>
  <ErrorEmail>
    <DefaultReceiver>nht257@yahoo.com</DefaultReceiver>
    <DefaultSender>no-reply@tuanhangxanh.com</DefaultSender>
    <EnableSsl>true</EnableSsl>
    <FilterErrorCode>*</FilterErrorCode>
    <IsSendEmail>true</IsSendEmail>
    <SmtpAuthentication>true</SmtpAuthentication>
    <SmtpPassword>1234567809tuan</SmtpPassword>
    <SmtpPort>587</SmtpPort>
    <SmtpServer>smtp.gmail.com</SmtpServer>
    <SmtpUsername>quangthai04dtp3@gmail.com</SmtpUsername>
    <SubjectPrefix>Error on site: </SubjectPrefix>
  </ErrorEmail>
  <AddTrailingSlash>false</AddTrailingSlash>
  <Quality>80</Quality>
  <Brand>
    <Background>#FFF</Background>
    <Height>85</Height>
    <ThumbHeight>85</ThumbHeight>
    <ThumbWidth>175</ThumbWidth>
    <Width>175</Width>
  </Brand>
  <Product>
    <Background>#FFF</Background>
    <Height>434</Height>
    <ThumbHeight>230</ThumbHeight>
    <ThumbWidth>196</ThumbWidth>
    <Width>370</Width>
  </Product>


  <IsSendEmailToAdmin>true</IsSendEmailToAdmin>
  <IsSendEmailToUser>true</IsSendEmailToUser>
  <DefaultSender>no-reply@tuanhangxanh.com</DefaultSender>
  <AdminEmail>nht257@yahoo.com</AdminEmail>
</SiteConfiguration>