<tr>
    <td style="border-right: 1px solid #d7d7d7; height:28px;border-bottom: 1px solid #d7d7d7; padding:5px">
        {productname}
    </td>
    <td style="border-right: 1px solid #d7d7d7; height:28px;border-bottom: 1px solid #d7d7d7; padding:5px; text-align:center">
        {price}
    </td>
    <td style="border-right: 1px solid #d7d7d7; height:28px;border-bottom: 1px solid #d7d7d7; padding:5px; text-align:center">
        {quatity}
    </td>
    <td style="border-right: 1px solid #d7d7d7; height:28px;border-bottom: 1px solid #d7d7d7; text-align:right; font-weight:bold; padding-right:10px">
        <b>{sum}</b>
    </td>
</tr>