<tr class="odd">
    <td style="text-align:left;">
        <p>
            {productname}
        </p>
    </td>
    <td style="text-align:center;">
        {price}
    </td>
    <td style="text-align:center;">
        {quatity}
    </td>
    <td>
        <span class="cart-price">
            <span class="price calc">{sum}</span>
        </span>
    </td>
</tr>