<?xml version="1.0"?>
<bundleConfig ignoreIfDebug="false" ignoreIfLocal="false">
  <cssBundles>
    <add bundlePath="~/css/index">
      <files>
        <add filePath="~/css/style.css"/>
        <add filePath="~/css/resize.css"/>
        <add filePath="~/css/common.css"/>
      </files>
    </add>

    <add bundlePath="~/css/content">
      <files>
        <add filePath="~/css/style.css"/>
        <add filePath="~/css/superfish.css"/>
        <add filePath="~/css/resize.css"/>
        <add filePath="~/css/common.css"/>
      </files>
    </add>
    
  </cssBundles>

  <jsBundles>
    <add bundlePath="~/js/default">
      <files>
        <add filePath="~/Scripts/jquery/jquery-{version}.js" />
        <add filePath="~/Scripts/common/global.js" />
        <add filePath="~/scripts/common/browserdetect.min.js" />
        <add filePath="~/Scripts/shopcart.js" />
      </files>
    </add>
    <add bundlePath="~/js/ie/default">
      <files>
        <add filePath="~/Scripts/jquery/jquery-{version}.js" />
        <add filePath="~/Scripts/common/global.js" />
        <add filePath="~/scripts/common/browserdetect.min.js" />
        <add filePath="~/scripts/common/html5.js" />
      </files>
    </add>
    <add bundlePath="~/js/jqueryval">
      <files>
        <add filePath="~/Scripts/jquery/jquery.validate*" />
        <add filePath="~/Scripts/jquery/jquery.unobtrusive*" />
      </files>
    </add>
    <add bundlePath="~/js/lazyload">
      <files>
        <add filePath="~/Scripts/common/lazyload.js" />
        <add filePath="~/Scripts/jquery/jquery.customsort.js" />
        <add filePath="~/Scripts/common/execute.lazyload.js" />
      </files>
    </add>
    <add bundlePath="~/js/editor">
      <files>
        <add filePath="~/utility/ckeditor/ckeditor.js" />
        <add filePath="~/utility/ckfinder/ckfinder.js" />
        <add filePath="~/utility/claw.editor.js" />
      </files>
    </add>
    
    <add bundlePath="~/js/page/index">
      <files>
        <add filePath="~/Scripts/flora/jquery.iosslider.min.js" />
        <add filePath="~/Scripts/flora/flaunt.js" />
        <add filePath="~/Scripts/pages/index.js" />
      </files>
    </add>

    <add bundlePath="~/js/page/content">
      <files>
        <add filePath="~/Scripts/flora/superfish.js" />
        <add filePath="~/Scripts/flora/jquery.iosslider.min.js" />
        <add filePath="~/Scripts/flora/flaunt.js" />
        <add filePath="~/Scripts/pages/content.js" />
      </files>
    </add>

    <add bundlePath="~/js/page/product-detail">
      <files>
        <add filePath="~/Scripts/flora/jquery.easing.1.3.js" />
        <add filePath="~/Scripts/flora/owl.carousel.js" />
        <add filePath="~/Scripts/pages/product-detail.js" />
      </files>
    </add>
    
  </jsBundles>
</bundleConfig>