<routeTable>
  <ignores>
    <clear/>
    <add name="axd" url="{resource}.axd/{*pathInfo}"/>
    <add name="aspx" url="{*allaspx}">
      <constraints allaspx =".*\.(aspx)(/.*)?" />
    </add>
    <add name="html" url="{*allhtml}">
      <constraints allhtml =".*\.(html|htm|shtml)(/.*)?"/>
    </add>
    <add name="cssjsimages" url="{*css}">
      <constraints css =".*\.(js|css|swf|flv|jpg|png|gif|ico)(/.*)?"/>
    </add>
    <!--<add name="allfiles" url="{*allfiles}">
				<constraints allfiles=".*\.(.*)(/.*)?"/>
			</add>-->
  </ignores>
  <routes>
    <!--common file generate route-->
    <!--<add name="Robots" url="robots.txt">
      <defaults controller="Resource" action="RobotsTxt"></defaults>
      <dataTokens Namespaces="Claw.Admin.Common" area="Common"/>
    </add>
    <add name="Sitemap" url="sitemap.xml">
      <defaults controller="Resource" action="SiteMap"></defaults>
      <dataTokens Namespaces="Claw.Admin.Common" area="Common"/>
    </add>-->

    <!--admin area-->
    <add name="Admin_Default" url="admin/{controller}/{action}/{id}">
      <defaults controller="Dashboard" action="Index" id ="UrlParameter.Optional" ></defaults>
      <dataTokens Namespaces="FloraShop.Web.Areas.Admin.Controllers" area="Admin" />
    </add>

    <add name="Common_Default" url="common/{controller}/{action}/{id}">
      <defaults controller="User" action="index" id ="UrlParameter.Optional" ></defaults>
      <dataTokens Namespaces="FloraShop.Web.Areas.Common.Controllers" area="Common" />
    </add>

    <!--Frontend route-->

    <add name="FrontEnd_Order" url="dat-hang/submit">
      <defaults controller="Home" action="Order"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_PageContent" url="{frontendpage}">
      <defaults controller="Home" action="PageContent" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_NewsCategory" url="tin/{newscategoryalias}">
      <defaults controller="Home" action="PageContent" frontendpage="tin-tuc" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_NewsDetail" url="{newscategoryalias}/chi-tiet/{newsalias}">
      <defaults controller="Home" action="PageContent" frontendpage="chi-tiet-tin" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_UserGuide" url="huong-dan/{userguide}">
      <defaults controller="Home" action="PageContent" frontendpage="chi-tiet-huong-dan" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_ProductByCategory" url="san-pham/{categoryalias}">
      <defaults controller="Home" action="PageContent" frontendpage="san-pham" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_ProductByBrand" url="nhan-hieu/{brandalias}">
      <defaults controller="Home" action="PageContent" frontendpage="san-pham" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_ProductDetailWithCategory" url="san-pham/{categoryalias}/{productalias}">
      <defaults controller="Home" action="PageContent" frontendpage="chi-tiet-san-pham" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_ProductDetailWithBrand" url="nhan-hieu/{brandalias}/{productalias}">
      <defaults controller="Home" action="PageContent" frontendpage="chi-tiet-san-pham" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_ProductDetail" url="chi-tiet-sp/{productalias}">
      <defaults controller="Home" action="PageContent" frontendpage="chi-tiet-san-pham" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_AlbumDetail" url="album/{albumalias}">
      <defaults controller="Home" action="PageContent" frontendpage="chi-tiet-album" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_DefaultPage" url="{controller}/{action}/{id}">
      <defaults controller="Home" action="Index" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <add name="FrontEnd_Index" url="">
      <defaults controller="Home" action="Index" frontendpage="index" id ="UrlParameter.Optional"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>

    <!--<add name="FrontEnd_Index" url="">
      <defaults controller="Page" action="Index"></defaults>
      <dataTokens Namespaces="FloraShop.Web.Controllers"/>
    </add>-->

    <!--End frontend route-->

  </routes>
</routeTable>
