<div class="map-contact">
    <div class="googl-map">
        @Html.Controls().Content("contact-map", "Content-Simple.cshtml")
        <img src="/images/flora/map.jpg" alt="" />
    </div>
    <address>
        @Html.Controls().Content("footer-contact", "Content-Simple.cshtml")
        <strong>TÌM CHÚNG TÔI</strong><br />
        123 Cách Mạng Tháng 8<br />
        Quận Tân Bình, TPHCM <br />
        ĐT: 01667805990<br />
        Emai: <a href="#">florashop@gmail.com</a>

    </address>
</div>
<div class="text-sale">
    @Html.Controls().Content("bottom-promotion", "Content-Simple.cshtml")
    GIẢM GIÁ ĐẾN <span>50%</span> CÁC LOẠI VÁY

</div>