<div class="map-contact">
    <div class="googl-map">
        @Html.Controls().Content("contact-map", "Content-Simple.cshtml")
    </div>
    <address>
        @Html.Controls().Content("footer-contact", "Content-Simple.cshtml")
    </address>
</div>
<div class="text-sale">
    @Html.Controls().Content("bottom-promotion", "Content-Simple.cshtml")
</div>