@{
    var isLogggedIn = FloraShop.Core.SiteContext.Current.Context.User.Identity.IsAuthenticated;
    var user = FloraShop.Core.SiteContext.Current.User;
}

@if (isLogggedIn)
{
    <h2 class="login"><a name="login">Xin chào: @user.Username </a></h2>

    <div class="logged-in">
        <ul>
            <li>
                <a href="#">Đơn hàng</a>
            </li>
            <li>
                <a href="#">Điểm thưởng (@user.TotalPoints.ToString("N0"))</a>
            </li>
            <li>
                <a href="#">Tài khoản</a>
            </li>
            <li class="last">
                <a href="/user/logout">Thoát</a>
            </li>
        </ul>
    </div>
}
else
{

    <h2 class="login"><a name="login">Xin chào: guest</a></h2>

    <div class="logged-in">
        <ul>
            <li>
                <a href="#">Đăng nhập</a>
            </li>
            <li>
                <a href="#">Đăng ký</a>
            </li>
        </ul>
    </div>
}
