@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<ul id="menu_1">
    @*<li>Cấu hình</li>*@
    <li>
        <a href="/admin/category/">
            Danh mục
        </a>
    </li>
    <li>
        <a href="/admin/brand/">Nhãn hiệu</a>
    </li>
    <li><a href="/admin/product/" style="width: 65px; display: block;">Sản phẩm</a></li>
    <li><a href="/admin/order/">Đơn hàng</a></li>
    <li><a href="/admin/banner/">Banner</a></li>
    <li>
        <a href="/admin/content/">Nội dung</a>
        <ul>
            <li>
                <a href="/admin/content/edit/1">Liên hệ</a>
            </li>
            <li>
                <a href="/admin/content/edit/2">Câu thi</a>
            </li>
            <li>
                <a href="/admin/content/edit/3">Footer</a>
            </li>
            <li>
                <a href="/admin/content/edit/4">Facebook</a>
            </li>
            <li>
                <a href="/admin/content/edit/5">Địa chỉ liên hệ</a>
            </li>
        </ul>
    </li>
</ul>