@{
    var isLogggedIn = FloraShop.Core.SiteContext.Current.Context.User.Identity.IsAuthenticated;
    var user = FloraShop.Core.SiteContext.Current.User;
}

@if (isLogggedIn)
{
    <h2 class="login"><a name="login">Xin chào: @user.Username </a></h2>

    <div class="logged-in">
        <ul>
            <li>
                <a href="#">Đơn hàng</a>
            </li>
            <li>
                <a href="#">Điểm thưởng (1200)</a>
            </li>
            <li>
                <a href="#">Tài khoản</a>
            </li>
            <li class="last">
                <a href="/user/logout">Thoát</a>
            </li>
        </ul>
    </div>
}
else
{
    <h2 class="login"><a href="/dang-nhap/">Đăng nhập</a> | <a href="/user/register">Đăng ký</a></h2>
}
