<h2 class="title-support-online">Hỗ trợ trực tuyến</h2>
<div class="content-support"><p><img src="/images/flora/skype.png" alt="" /> florashopvn</p><p><img src="/images/flora/yahoo.png" alt="" /> florashopvn</p></div>